body {
  margin: 0;
  background-color: hsl(233, 47%, 7%);
}

h1, .number {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(277, 64%, 61%);
}

p,.number-description{
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 70px;
  margin-right: 30px;
}

.flex-container {
  display: flex;
  margin: 7% 15%;
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
}

.text {
  margin: 40px 60px 0;
  text-align: left;
}
.number{
  font-size: 1.5rem;
}
.col-image {
  background-color: hsl(277, 64%, 61%);
  border-radius: 0 10px 10px 0;
}

.image {
  display: flex;
  border-radius: 0 10px 10px 0;
  mix-blend-mode: multiply;
}

@media (max-width:1400px) {
  .flex-container {
    flex-direction: column-reverse;
    width: 50%;
    margin: 5% auto;
  }

  .image, .col-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .text {
    text-align: center;
    margin: auto 15px;
  }
ul{
  flex-direction: column;
  text-align: center;
  margin: auto;
}
li{
  margin: 15px;
}

}
